<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ellis.cmfz.mapper.ChapterMapper">
  <resultMap id="BaseResultMap" type="com.ellis.cmfz.entity.Chapter">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="albumid" jdbcType="VARCHAR" property="albumid" />
    <result column="audio_path" jdbcType="VARCHAR" property="audioPath" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, size, duration, albumid, audio_path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from chapter
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByAlbumids" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from chapter
    where albumid = #{albumid,jdbcType=VARCHAR}
  </select>

  <select id="selectByAlbumidAndPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from chapter
    where albumid = #{albumid,jdbcType=VARCHAR} limit #{start},#{pageindex}
  </select>

  <select id="selectCountByAlbumid" resultType="java.lang.Integer">
    select
    count(1)
    from chapter
    where albumid = #{albumid}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from chapter
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByAlbumids" parameterType="String">
    delete from chapter
    where albumid in
    <foreach collection="array" open="(" separator="," close=")" item="albumids">
      #{albumids}
    </foreach>
  </delete>

  <delete id="deleteByIDs" parameterType="java.lang.String">
    delete from chapter
    where id in
    <foreach collection="array" open="(" separator="," close=")" item="ids">
      #{ids}
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.ellis.cmfz.entity.Chapter">
    insert into chapter (id, title, size,
      duration, albumid, audio_path
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR},
      #{duration,jdbcType=VARCHAR}, #{albumid,jdbcType=VARCHAR}, #{audioPath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ellis.cmfz.entity.Chapter">
    insert into chapter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="albumid != null">
        albumid,
      </if>
      <if test="audioPath != null">
        audio_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="albumid != null">
        #{albumid,jdbcType=VARCHAR},
      </if>
      <if test="audioPath != null">
        #{audioPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ellis.cmfz.entity.Chapter">
    update chapter
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="albumid != null">
        albumid = #{albumid,jdbcType=VARCHAR},
      </if>
      <if test="audioPath != null">
        audio_path = #{audioPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ellis.cmfz.entity.Chapter">
    update chapter
    set title = #{title,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=VARCHAR},
      albumid = #{albumid,jdbcType=VARCHAR},
      audio_path = #{audioPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>